.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    padding: 10px 20px;
}

.header img {
    margin: 10px 20px;
    width: 30%;
}

.logout-form {
    display: flex;
    align-items: center;
}

.logout-form input {
    padding: 5px;
    margin-right: 10px;
    width: 500px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #000000;
    font-size: 20px;
    color: #000000;
}

.logout-form button {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;
    font-size: 20px;
}

form button {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;
    font-size: 20px;
}

form button:hover {
    text-decoration: underline;
}

.profile-link {
    color: white;
    margin-left: 0px;
    text-decoration: none;
    font-size: 20px;
}

.create-listing-link {
    color: #000000;
    background-color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 6px;
}

.profile-link:hover,
.create-listing-link:hover {
    text-decoration: underline;
}