main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: calc(100vh - 80px);
}

.profile-container {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 60px 20px 0 0;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    align-items: center;
    gap: 60px;
}

.profile-container img {
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}
.name {
    font-weight: bold;
    font-size: 26px;
    margin: 0;
}

.btn {
    border: 1px solid #eb5252;
    border-radius: 5px;
    color: #FF0000;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: bold;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #000000;
    padding: 40px 0 0 200px;
    width: 100%;
}

.tab-link {
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.tab-link-right {
    margin-left: 60px;
}

.tab-link:hover {
    color: #FF0000;
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    margin: 40px 0 40px 100px;
    width: 100%;
}

.item-card {
    width: 300px;
    text-align: center;
    padding: 10px;
}

.item-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.item-card a {
    text-decoration: none;
    color: #000000;
}

.item-name {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

body[data-tab="selling"] .tab-link:first-child {
    color: #FF0000;
}

body[data-tab="purchased"] .tab-link:nth-child(2) {
    color: #FF0000;
}
